body {
    background-color: #de3163;
    width: 1080px;
    font-family: Georgia;
    font-size: medium;
}

table {
    margin-left: 20px;
}
#text {
    display: block;
    margin-left: 30px;
    float: right;
}

input {
    font-size: larger;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
}

